%p Comments:
- commentable.comments.each do |comment|
  %p #{comment.author.username}: #{comment.text} at #{comment.added_at}
= link_to "Add comment", new_comment_path(commentable_type: commentable_type, commentable_id: commentable.id)
