%h1 Add a comment
.row
  .col-md-4
  .col-md-4
    = simple_form_for @comment, url: comments_path(commentable_type: @comment.commentable_type, commentable_id: @comment.commentable_id), html: { method: :post } do |f|
      = f.input :text
      .actions
        = f.submit 'Done', class: 'btn btn-primary'
