$black-grey: #212121;
$white-grey: #fafafa;
$light-grey: #eeeeee;
$dark-grey: #616161;
$white: #fff;
$mid-light-grey: #e0e0e0;
$mid-grey: #9e9e9e;

$primary: $black-grey;
$primary-bg: $white-grey;
$secondary: $dark-grey;
$tertinary: $light-grey;
$border-color: $mid-light-grey;
$home-page-bg: $dark-grey;

$bg-highlight: $mid-light-grey;
$col-default: $light-grey;
$col-highlight: $mid-grey;
$active-color: $dark-grey;

$body-margin: 5%;

//Spacing
$vertical-spacing: 16px;
$horizontal-spacing: 16px;
